*{
    box-sizing: border-box;
}

body{
    background-color: #D1FF4D;
    padding: 0;
    margin: 0;
}

#header{
    width: 400px;
    height: auto;
    padding: 5px;
    margin: 0 auto;
    background-color: yellow;
    font-size: 2.2rem;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    text-align: center;
    border: 2px black solid;
    border-radius: 40px;
}

#answer{
    display: block;
    font-size: 1.4rem;
}


#startButton:active {
	position:relative;
	top:1px;
}

label{
    font-size: 1.2rem;
}

#time-display{
    font-size: 1.3rem;
}

#letters-container{
    font-size: 1.3rem;
}