*{
    box-sizing: border-box;
}

body{
    background-color: #D1FF4D;
    padding: 0;
    margin: 0;
}

#header{
    width: 400px;
    height: auto;
    padding: 5px;
    margin: 0 auto;
    background-color: yellow;
    font-size: 2.2rem;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    text-align: center;
    border: 2px black solid;
    border-radius: 40px;
}

#answer{
    display: block;
    font-size: 1.3rem;
}




#calculator-container{
    display: inline-grid;
    grid-template-columns: auto auto auto;
  background-color: #2196F3;
  padding: 10px;

}

.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    width: 60px;
    height: 60px;
    padding: 10px;
    font-size: 30px;
    text-align: center;
}

.grid-item:hover{
    background-color: lightblue;
}