*{
    box-sizing: border-box;
}

body{
    background: rgb(63,94,251);
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
}

#header{
    width: 200px;
    height: 100px;
    background-color: lime;
    font-size: 2.6rem;
    font-family: cursive;
    color:#090F39;
    text-align: center;
    position: relative;
    top: 10px;
    border: 1.5px solid #021495;
    border-bottom-left-radius: 40px;
    border-top-right-radius: 40px;
    border-top-left-radius: 18px;
    border-bottom-right-radius: 18px;
    padding-top: 15px;
    margin: 0 auto;
    z-index: 1;
}

#introCard {
    -webkit-box-shadow: 5px 5px 15px 5px #000000; 
    box-shadow: 5px 5px 15px 5px #000000;
    background: #CEEFEF;
    display: block;
    width: 350px;
    height: 420px;
    }

h2{
    font-family: "Comic Sans MS", cursive, sans-serif;
}

#description{
    font-family: "Courier New", Courier, monospace;
    font-size: 1rem;
    letter-spacing: 2px;
    word-spacing: 2px;
    color: #000000;
    font-weight: normal;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
}

.myButton {
	box-shadow: 0px 10px 14px -7px #3e7327;
	background:linear-gradient(to bottom, #77b55a 5%, #72b352 100%);
	background-color:#77b55a;
	border-radius:4px;
	border:2px solid #4b8f29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:20px;
	font-weight:bold;
	padding:13px 19px;
	text-decoration:none;
	text-shadow:0px 1px 0px #5b8a3c;
}
.myButton:hover {
	background:linear-gradient(to bottom, #72b352 5%, #77b55a 100%);
	background-color:#72b352;
}
.myButton:active {
	position:relative;
	top:1px;
}

.blueButton{
    background:linear-gradient(to bottom, #007dc1 5%, #0061a7 100%);
    background-color:#007dc1;
    border-color: #124d77;
}

.blueButton:hover {
	background:linear-gradient(to bottom, #0061a7 5%, #007dc1 100%);
	background-color:#0061a7;
}

.yellowButton{
    background-color: #F1F737;
    background:linear-gradient(to bottom, #F3F928 5%, #F3FA10 100%);
    border-color: #EFF52F;
    color: black;
}

.yellowButton:hover{
    background-color: #EFF52F;
    background:linear-gradient(to bottom, #F2F73F 5%, #EFF52F 100%);
}


