
* {
    box-sizing: border-box;
  }
  
  body {
    background-color: aquamarine;
    padding: 0;
    margin: 0;
  }
  
  #heading {
    width: 360px;
    height: 120px;
    padding-top: 10px;
    margin: 0 auto;
    border: 1.5px solid #fdc96e;
    border-radius: 40px;
    font-size: 2rem;
    background-color: #f9fc8a;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    text-align: center;
  }

  #answer-display{
    font-size: 2.1rem;
  }

  #time-display {
    font-size: 1.3rem;
  }
  
  .myButton {
    width: 19px;
    height: 19px;
    display: inline-block;
    cursor: pointer;
    color: black;
    font-family: Arial;
    font-size: 12px;
    padding: 12px 12px;
    border: 1px black solid;
    box-sizing: content-box;
  }