*{
    box-sizing: border-box;
}

body{
    background: rgb(215,255,63);
    background: radial-gradient(circle, rgba(215,255,63,1) 0%, rgba(89,255,153,1) 74%);
    padding-bottom: 100px;
    overflow-x: hidden;
}

center{
    position: relative;
    right: 5px;
    top: 30px;
}




#quiz-container{
    width: 340px;
    height: auto;
    background-color: gainsboro;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;    
    display: grid;
    grid-template-columns: auto;
    gap: 10px;
}

#question{
    font-weight: bold;
    font-size: 1.3rem;
}

#corrAnswer{
    font-size: 1.2rem;
}

.btn{
    padding: 10px;
    font-size: 1.2rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    outline: none;
    background-color: cyan;
    color: darkslategrey;
    border: 1px solid black;
    border-radius: 5px;
}

.next-btn{
    width: 100px;
    padding: 12px;
    font-size: 1.5rem;
    background-color: gold;
}

#corrAnswer{
    display: none;
}

@media screen and (max-width: 600px){
    .back{
        display: none;
    }
}