* {
    box-sizing: border-box;
  }
  
  body {
    background-color: aquamarine;
    padding: 0;
    margin: 0;
  }
  
  #heading {
    width: 400px;
    height: 90px;
    padding-top: 10px;
    margin: 0 auto;
    border: 1.5px solid #fdc96e;
    border-radius: 40px;
    font-size: 2rem;
    background-color: #f9fc8a;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    text-align: center;
  }

  #correct-answer{
    position: relative;
    bottom: 20px;
    display: block;
    font-size: 1.3rem;
}

  #time-display {
    font-size: 1.3rem;
  }

  #table1{
      position: relative;
      bottom: 20px;
  }
  
  .myButton {
    width: 19px;
    height: 19px;
    display: inline-block;
    cursor: pointer;
    color: black;
    font-family: Arial;
    font-size: 12px;
    padding: 12px 12px;
    border: 1px black solid;
    box-sizing: content-box;
  }

  .lime{
      background-color: lime;
  }

  .limegreen{
      background-color: limegreen;
  }

@media screen and (max-width: 600px){
  .back{
      display: none;
  }
}
  