* {
    box-sizing: border-box;
  }
  
  body {
    background-color: aquamarine;
    padding: 0;
    margin: 0;
  }
  
  #heading {
    width: 300px;
    height: auto;
    padding-top: 10px;
    margin: 0 auto;
    border: 1.5px solid #fdc96e;
    border-radius: 40px;
    font-size: 2.6rem;
    background-color: #f9fc8a;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    text-align: center;
  }
  
  

  #startButton:active {
    position: relative;
    top: 1px;
  }
  #time-display {
    font-size: 1.3rem;
  }

  #color{
      color: red;
  }

  #button-container{
      display: -moz-inline-grid;
      grid-template-columns: auto;
  }

  .button{
      border-radius: 5px;
      cursor: pointer;
      padding: 12px 40px;
      margin: 5px;
  }

  .button:active {
      position: relative;
      top: 1px;
  }

  .red{
      background-color: red;
  }
  .red:hover{
      background-color: crimson;
  }
   
  .green{
      background-color: green;
  }
  .green:hover{
      background-color: forestgreen;
  }

  .yellow{
      background-color: yellow;
  }
  .yellow:hover{
      background-color: gold;
  }

  .orange{
      background-color: orange;
  }
  .orange:hover{
      background-color: darkorange;
  }

@media screen and (max-width: 600px){
  .back{
      display: none;
  }
}
    