
* {
    box-sizing: border-box;
  }
  
  body {
    background-color: aquamarine;
    padding: 0;
    margin: 0;
  }
  
  #heading {
    width: 340px;
    height: 107px;
    padding-top: 10px;
    margin: 0 auto;
    border: 1.5px solid #fdc96e;
    border-radius: 40px;
    font-size: 2.6rem;
    background-color: #f9fc8a;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    text-align: center;
  }
  
  

  #startButton:active {
    position: relative;
  }

  #number-order{
    font-size: 1.2rem;
    position: relative;
    top: 5px;
  }

  #calculator-container{
    display: inline-grid;
    grid-template-columns: auto auto auto;
  background-color: #2196F3;
  padding: 10px;

}

.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
}

.largePadding{
    padding-right: 30px;
    padding-left: 30px;
}

.grid-item:hover{
    background-color: lightblue;
}

.red{
    color: red;
    padding: 19px;
}

.enter{
    font-size: 25px;
    padding: 8px;
    color: green;
}