* {
    box-sizing: border-box;
  }
  
  body {
    background-color: aquamarine;
    padding: 0;
    margin: 0;
  }
  
  #heading {
    width: 360px;
    height: auto;
    padding-top: 10px;
    margin: 0 auto;
    border: 1.5px solid #fdc96e;
    border-radius: 40px;
    font-size: 2.3rem;
    background-color: #f9fc8a;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    text-align: center;
  }
  
  

  #startButton:active {
    position: relative;
  }

  #question{
      font-size: 1.5rem;
      display: none;
  }

  .mixed-colors{
      width: 30px;
      height: 30px;
      border: 1px solid black;
      margin: 3px;
      display: inline-block;
  }

  #alternatives-container{
      font-size: 1.3rem;
  }

  .alternatives{
      width: 40px;
      height: 40px;
      border: 1px solid black;
      margin: 5px;
  }